<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="MaxBasketWaight" value="140"/>
    <add key="MinBasketWeight" value="40"/>
    <add key="MinPlayers" value="2"/>
    <add key="MaxPlayers" value="8"/>
    <add key="MaxAttemptsCount" value="100"/>
    <add key="TimeLimit" value="1500"/>
    <add key="GameWelcomeMessage" value="Welcome to awesome game called *Guess the weight* "/>
    <add key="GameDescription" value="Rules:
                The game ends when a player identifies the weight correctly or there were 100 attempts.
                They game has 5 types of players:
                1)	Random player: guesses a random number between 40 and 140.
                2)	Memory player: guesses a random number between 40 and 140 but doesn’t try the same number more than once.
                3)	Thorough player: tries all numbers by order – 41,42,43 …
                4)	Cheater player: guesses a random number between 40 and 140 – but doesn’t try any of the numbers that other players had already tried.
                5)	Thorough Cheater player: tries all numbers by order – 41, 42, 43 … but skips numbers that were already been tried before by any of the players.
                If a player guessed a number incorrectly – he will have to wait the absolute delta (between the real number and his guess) in milliseconds.
                For an example: real number is 100 – the guess was 70 – the player will sleep for 30 milliseconds. If his guess is 130 – he will also sleep for 30 milliseconds.
                "/>
    <add key="RealWeight" value="100"/>
  </appSettings>
</configuration>
